# Good Reads Summary

#### The objective of this assignment is for you to explain what is happening in each cell in clear, understandable language. 

#### _There is no need to code._ The code is there for you, and it already runs. Your task is only to explain what each line in each cell does.

#### The placeholder cells should describe what happens in the cell below it.

**Example**: The cell below imports `pandas` as a dependency because `pandas` functions will be used throughout the program, such as the Pandas `DataFrame` as well as the `read_csv` function.

In [13]:
import pandas as pd

In [14]:
#This line looks for the csv file and makes it a data frame

goodreads_path = "Resources/books_clean.csv"

goodreads_df = pd.read_csv(goodreads_path, encoding="utf-8")
goodreads_df.head()

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [17]:
#This line looks for unique values for the authors of the books and outputs the total count of authors
author_count = len(goodreads_df["Authors"].unique())

#These lines find the minimum and maximum year of publication
earliest_year = goodreads_df["Publication Year"].min()
latest_year = goodreads_df["Publication Year"].max()

#This line locates the columns for with the reviews and add them to get to the total number of reviews and does this for each row 
#so the result is a new column with total review. Then it puts adds the column to the table goodreads
goodreads_df['Total Reviews'] = goodreads_df.iloc[:, 4:].sum(axis=1)

#This line calculates the sum of the column Total Reviews
total_reviews = sum(goodreads_df['Total Reviews'])

1193751096

_[Replace this with your clear explanation of what happens in the cell below. Indicate whether this is being created as a **list of dictionaries**, a **dictionary of lists**, or **something else**. Lastly, explain why `author_count` needs to be enclosed in square brackets.]_

In [23]:
#This line creastes a new summary table that has a dictionary. For the first key of the dictionary it has a list of the author count.
#It needs to be enclosed in brackets because it works as an index

summary_table = pd.DataFrame({"Total Unique Authors": [author_count],
                              "Earliest Year": earliest_year,
                              "Latest Year": latest_year,
                              "Total Reviews": total_reviews})
summary_table

   Total Unique Authors  Earliest Year  Latest Year  Total Reviews
0                  4664        -1750.0       2017.0     1193746432