### HomeWork_ES_Pandas
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [29]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [30]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [31]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [32]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [33]:
#Total Schools
unique_school_names = school_data_complete['school_name'].unique()
school_count = len(unique_school_names)
school_count

15

In [34]:
#Total Students
total_students = len(student_data)
total_students

39170

In [35]:
#Total Budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [36]:
#Average Math Score
average_math = student_data['math_score'].mean()
average_math

78.98537145774827

In [37]:
#Average Reading Score
average_reading = student_data['reading_score'].mean()
average_reading

81.87784018381414

In [38]:
# %Passing Math
num_pass_math = student_data.loc[student_data['math_score'] >= 70]['math_score'].count()
num_pass_math

29370

In [39]:
percent_math_pass = num_pass_math/total_students*100
percent_math_pass

74.9808526933878

In [40]:
# %Passing Reading
num_pass_reading = student_data.loc[student_data['reading_score'] >= 70]['reading_score'].count()
num_pass_reading

33610

In [41]:
percent_reading_pass = num_pass_reading/total_students*100
percent_reading_pass

85.80546336482001

In [42]:
# Overall passing
overall_pass = (average_math + average_reading)/2
overall_pass

80.43160582078121

In [43]:
district_summary = pd.DataFrame({
   "Total Schools": [school_count],
   "Total Students": [total_students],
   "Total Budget": [total_budget],
   "Average Reading Score": [average_reading],
   "Average Math Score": [average_math],
   "% Passing Reading":[percent_reading_pass],
   "% Passing Math": [percent_math_pass],
   "Overall Passing Rate": [overall_pass]
})
district_summary

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,Overall Passing Rate
0,15,39170,24649428,81.87784,78.985371,85.805463,74.980853,80.431606

In [44]:
#Format
district_summary.style.format({"Total Budget": "${:,.2f}",
                      "Average Reading Score": "{:.1f}",
                      "Average Math Score": "{:.1f}",
                      "Overall Passing Rate": "{:.1%}"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [45]:
#Total Schools
grouped_schools = school_data_complete.set_index('school_name').groupby(['school_name'])
print(grouped_schools)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001F0DB724F60>

In [46]:
gs = grouped_schools.head()
gs.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [47]:
school_type = grouped_schools['type'].unique()
school_size = grouped_schools['size'].sum()
tot_students = grouped_schools['Student ID'].count()
tot_budget = grouped_schools['budget'].sum()
stud_budget = tot_budget/school_size
avemath = grouped_schools['math_score'].mean()
averead = grouped_schools['reading_score'].mean()
mathpass = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/tot_students
readpass = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/tot_students
overall = (mathpass + readpass)/2

In [48]:
tot_budget

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [49]:
summary_school_table = pd.DataFrame({"School Type": school_type, 
                                     "Total Students": tot_students, "Total School Budget": tot_budget, 
                                     "Per Student Budget": stud_budget, "Average Math Score": avemath, 
                                     "Average Reading Score": averead, "% Passing Math": mathpass,
                                    "% Passing Reading": readpass, "% Overall Passing Rate": overall
                                    })
summary_school_table.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,[District],4976,15549641728,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,[Charter],1858,2009159448,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,[District],2949,5557128039,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,[District],2739,4831365924,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,[Charter],1468,1346890000,625.0,83.351499,83.816757,0.933924,0.971390,0.952657

In [50]:
summary_school_table = pd.DataFrame({
    "School Type": school_type, 
    "Total Students": tot_students, 
    "Total School Budget": tot_budget, 
    "Per Student Budget": stud_budget, 
    "Average Math Score": avemath, 
    "Average Reading Score": averead, 
    "% Passing Math": mathpass,
    "% Passing Reading": readpass, 
    "% Overall Passing Rate": overall
})

print(summary_school_table.dtypes)
#summary_school_table

School Type                object
Total Students              int64
Total School Budget         int64
Per Student Budget        float64
Average Math Score        float64
Average Reading Score     float64
% Passing Math            float64
% Passing Reading         float64
% Overall Passing Rate    float64
dtype: object

In [51]:
summary_school_table = summary_school_table[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          '% Overall Passing Rate']]

In [52]:
best5 = summary_school_table.sort_values("% Overall Passing Rate", ascending = False)

In [53]:
best5.head().style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}", 
                          "% Passing Math": "{:.1%}", 
                          "% Passing Reading": "{:.1%}", 
                          "% Overall Passing Rate": "{:.1%}"})

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [54]:
worst5 = summary_school_table.sort_values("% Overall Passing Rate", ascending = True)

In [55]:
worst5.head().style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}", 
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "% Overall Passing Rate": "{:.1%}"})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [57]:
m_ninth_grade = student_data.loc[student_data["grade"] == "9th"].groupby(["school_name"])["math_score"].mean()
m_tenth_grade = student_data.loc[student_data["grade"] == "10th"].groupby(["school_name"])["math_score"].mean()
m_eleventh_grade = student_data.loc[student_data["grade"] == "11th"].groupby(["school_name"])["math_score"].mean()
m_twelfth_grade = student_data.loc[student_data["grade"] == "12th"].groupby(["school_name"])["math_score"].mean()

In [58]:
m_grades = pd.DataFrame({
        "9th": m_ninth_grade,
        "10th": m_tenth_grade,
        "11th": m_eleventh_grade,
        "12th": m_twelfth_grade})
m_grades.head()

                            9th       10th       11th       12th
school_name
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [59]:
r_ninth_grade = student_data.loc[student_data["grade"] == "9th"].groupby(["school_name"])["reading_score"].mean()
r_tenth_grade = student_data.loc[student_data["grade"] == "10th"].groupby(["school_name"])["reading_score"].mean()
r_eleventh_grade = student_data.loc[student_data["grade"] == "11th"].groupby(["school_name"])["reading_score"].mean()
r_twelfth_grade = student_data.loc[student_data["grade"] == "12th"].groupby(["school_name"])["reading_score"].mean()
r_grades = pd.DataFrame({
        "9th": r_ninth_grade,
        "10th": r_tenth_grade,
        "11th": r_eleventh_grade,
        "12th": r_twelfth_grade})
r_grades.head()

                            9th       10th       11th       12th
school_name
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [60]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

school_data_complete['Spending Range'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], spending_bins
                                                , labels = group_names)
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Spending Range
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,$645-675
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,$645-675
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,$645-675
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,$645-675
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,$645-675

In [61]:
grouped_df = school_data_complete.groupby('Spending Range')
ave_m = grouped_df['math_score'].mean()
ave_r = grouped_df['reading_score'].mean()
pass_m = school_data_complete[school_data_complete['math_score'] >= 70].groupby('Spending Range')['Student ID'].count()/grouped_df['Student ID'].count()
pass_r = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('Spending Range')['Student ID'].count()/grouped_df['Student ID'].count()
overall = (pass_m + pass_r)/2
summary_table = pd.DataFrame({"Average Math": ave_m, "% Passing Math": pass_m, "Average Reading": ave_r, "% Passing Reading": pass_r, "% Overall": overall})
summary_table.head()

,Average Math,% Passing Math,Average Reading,% Passing Reading,% Overall
Spending Range,,,,,
<$585,83.363065,0.937029,83.964039,0.966866,0.951947
$585-615,83.529196,0.941241,83.838414,0.958869,0.950055
$615-645,78.061635,0.714004,81.434088,0.836148,0.775076
$645-675,77.049297,0.662308,81.005604,0.811094,0.736701

## Scores by School Size

* Perform the same operations as above, based on school size.

In [62]:
# Sample bins. Feel free to create your own bins.
size_bins2 = [0, 1000, 2000, 5000]
group_names2 = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_data_complete['Size of School'] = pd.cut(school_data_complete['size'], size_bins2
                                                , labels = group_names2)
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Spending Range,Size of School
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,$645-675,Large (2000-5000)
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,$645-675,Large (2000-5000)
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,$645-675,Large (2000-5000)
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,$645-675,Large (2000-5000)
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,$645-675,Large (2000-5000)

In [63]:
grouped_df2 = school_data_complete.groupby('Size of School')
ave_m = grouped_df2['math_score'].mean()
ave_r = grouped_df2['reading_score'].mean()
pass_m = school_data_complete[school_data_complete['math_score'] >= 70].groupby('Size of School')['Student ID'].count()/grouped_df2['Student ID'].count()
pass_r = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('Size of School')['Student ID'].count()/grouped_df2['Student ID'].count()
overall = (pass_m + pass_r)/2
summary_table = pd.DataFrame({"Average Math": ave_m, "% Passing Math": pass_m, "Average Reading": ave_r, "% Passing Reading": pass_r, "% Overall": overall})
summary_table.head()

,Average Math,% Passing Math,Average Reading,% Passing Reading,% Overall
Size of School,,,,,
Small (<1000),83.828654,0.939525,83.974082,0.960403,0.949964
Medium (1000-2000),83.372682,0.936165,83.867989,0.967731,0.951948
Large (2000-5000),77.477597,0.686524,81.198674,0.821252,0.753888

In [66]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Spending Range,Size of School
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,$645-675,Large (2000-5000)
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,$645-675,Large (2000-5000)
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,$645-675,Large (2000-5000)
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,$645-675,Large (2000-5000)
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,$645-675,Large (2000-5000)

## Scores by School Type

* Perform the same operations as above, based on school type.

In [70]:
# group by type of school
by_type = school_data_complete.groupby("type")
ave_m = by_type['math_score'].mean()
ave_r = by_type['reading_score'].mean()
pass_m = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
pass_r = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
overall = (pass_m + pass_r)/2
summary_table = pd.DataFrame({"Average Math": ave_m, "% Passing Math": pass_m, "Average Reading": ave_r, "% Passing Reading": pass_r, "% Overall": overall})
summary_table.head()

,Average Math,% Passing Math,Average Reading,% Passing Reading,% Overall
type,,,,,
Charter,83.406183,0.937018,83.902821,0.966459,0.951739
District,76.987026,0.665184,80.962485,0.809052,0.737118

### THE END OF THE ASSIGNMENT